.tweetBox{
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background) ;
    padding-right: 10px;
}

.tweetBox>form{
    display: flex;
    flex-direction: column;
}

.tweetBox-input{
    padding: 20px;

    display: flex;
}
.tweetBox-input > input{
    flex:1;
margin-left: 20px;
font-size: 20px;
border: none;

}
.tweetBox-Url{
    border: none;
    padding:20px;

}
.tweetBox-Url:focus{
    outline: none;
    font-size: 15px;
}

.tweetBox-button{
    background-color: var(--twitter-color) !important;
    border: none !important;
    border-radius: 30px !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    width: 80px!important;
    height: 30px !important;
    /* margin-top:20px !important */
    margin:auto !important

}
